.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.brown{
    color: brown;
}
.black{
    color: black;
}
.pink{  
    color: pink;
}
.yellow{
    color: yellow;
}
.orange{
    color: orange;
}
.purple{
    color: purple;
}
.gray{
    color: gray;
}
