<select [(ngModel)]="selectedProfession">
  <option value="">Select Profession</option>
  <option value="Developer">Developer</option>
  <option value="Tester">Tester</option>
  <option value="HR">HR</option>
  <option value="Manager">Manager</option>
  <option value="Support Engineer">Support Engineer</option>
  <option value="DevOps Engineer">DevOps Engineer</option>
  <option value="Intern">Intern</option>
  <option value="Team Lead">Team Lead</option>
</select>

<div [ngSwitch]="selectedProfession">

  <div *ngSwitchCase="'Developer'" class="red">
    <div *ngFor="let user of Profession">
      <div *ngIf="user.Profession === 'Developer'">
        <p>{{user.name}} | {{user.Doj}} | {{user.Salary}}</p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'Tester'" class="black">
    <div *ngFor="let user of Profession">
      <div *ngIf="user.Profession === 'Tester'">
        <p>{{user.name}} | {{user.Doj}} | {{user.Salary}}</p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'HR'" class="pink">
    <div *ngFor="let user of Profession">
      <div *ngIf="user.Profession === 'HR'">
        <p>{{user.name}} | {{user.Doj}} | {{user.Salary}}</p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'Manager'" class="blue">
    <div *ngFor="let user of Profession">
      <div *ngIf="user.Profession === 'Manager'">
        <p>{{user.name}} | {{user.Doj}} | {{user.Salary}}</p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'Support Engineer'" class="green">
    <div *ngFor="let user of Profession">
      <div *ngIf="user.Profession === 'Support Engineer'">
        <p>{{user.name}} | {{user.Doj}} | {{user.Salary}}</p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'DevOps Engineer'" class="orange">
    <div *ngFor="let user of Profession">
      <div *ngIf="user.Profession === 'DevOps Engineer'">
        <p>{{user.name}} | {{user.Doj}} | {{user.Salary}}</p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'Intern'" class="gray">
    <div *ngFor="let user of Profession">
      <div *ngIf="user.Profession === 'Intern'">
        <p>{{user.name}} | {{user.Doj}} | {{user.Salary}}</p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'Team Lead'" class="purple">
    <div *ngFor="let user of Profession">
      <div *ngIf="user.Profession === 'Team Lead'">
        <p>{{user.name}} | {{user.Doj}} | {{user.Salary}}</p>
      </div>
    </div>
  </div>

  <p *ngSwitchDefault class="brown">Please select a profession.</p>

</div>