nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c1b2b2;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.pass{
    font-weight: bold;
    color: #d70808;
    text-decoration: none;
}